
body {
  background-color: #D3D3FF;
}
.center{
  display: flex;
  justify-content: center;
  font-size: 100px;
  color: white;
}

iframe {
  display: block;
  margain: 20px auto;
}
.container {
  font-size: 50px;
  padding: 20px;
  color: white;
}

.p3 }
  font-family: "Papyrus", "Papyrus", porportional;
}

body {
  margin: 0;
  padding: 0;
}

h2, p {
  margin: 20px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:#575799;
}

ul li {
  float: left;
  padding: 20px;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #090933;
}

img {
  justify-content:center;
  align-items:center;
  height: 500px;
  width:500px;
  
}
iframe {
  display:block;
  margin: 20px auto;
}
